@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  font-weight: 400;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

html {
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Gradient Background */
  background: linear-gradient(
    to bottom right,
    #0f172a, /* Dark navy */
    #1e293b, /* Slightly lighter navy */
    #334155  /* Even lighter navy */
  );
  background-attachment: fixed; /* Ensures the gradient stays in place when scrolling */
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #0f172a; /* Fallback for older browsers */
  min-height: 100%;
}
/* Setting Base H tags */
h1,h2,h3,h4,h5,h6 {
  font-weight: 700; /* Bold for headings */
}
p {
  font-weight: 400; /* Regular weight for paragraphs */
}

strong {
  font-weight: 500; /* Medium weight for emphasis */
}

/* Custom Scrollbar */
.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #2d3748; /* Gray background */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #4a5568; /* Darker gray */
  border-radius: 4px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #718096; /* Lighter gray on hover */
}
